body{
    text-align: center;
    background-image: url(./images/keizersgracht-canal-in-amsterdam.jpg);
    background-size: cover;
}
/* ------------------------------header----------------------- */
.introcontact{
    margin-top: 5%;
}
.introcontact h1{
    color: palevioletred;
}
/* ---------------------------------section--------------------- */
.rondlogo{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: palevioletred;
    color: black;
    display: flex;
    align-items: center;
}
.icones{
    font-size: 50px;
}
.rondflex{
    display: flex;
    align-items: center;
    border: none;
}
.rondflex a, p, h5{
    color: white;
}
/* ----------------------------------------footer-------------------------- */
